<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% block header %}

        <a href="{{ path('products')}}">Products</a>

        <a href="{{ path('suppliers') }}">Suppliers</a>

    {% endblock %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
        {% block body %}{% endblock %}

        {% block javascripts %}

        {% endblock %}
    </body>
</html>
