<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body>
    {% block header %}

        <a href="{{ path('products')}}">Products</a>

        <a href="{{ path('suppliers') }}">Suppliers</a>

    {% endblock %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
        {% block body %}{% endblock %}

        {% block jqweri  %}
            <script
                    src="https://code.jquery.com/jquery-3.4.1.js"
                    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
                    crossorigin="anonymous">
            </script>
        {% endblock %}
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
